// Place all the styles related to the Decks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import 'main';

.decks-instructions {
	font-size: 20px;
	margin: 0 0 10px 50px;
}

.decks-background {
	height: 400px;
	width: 100%;
	background: #333;
	padding: 50px;
}

.decks-image {
	height: 419px;
	width: 532px;
	background-image: url('cards.png');
}

.decks-form-upload {
	position: relative;
	float: left;
	left: 200px;
}

.new_deck {
	height: 350px;
	text-align: left;
}

.upload-form-label {
	font-size: 12px;
	color: $primary-color;
}

#deck_deck_image {
	font-size: 10px;
	color: $secondary-color;

}

#deck_deck {
	font-size: 10px;
	color: $secondary-color;
}