// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$main-font: Tahoma;
$primary-color: #608391;
$secondary-color: #a0bad0;
$primary-accent: #4593b7;
$secondary-accent: #c4817f;
$tertiary-accent: #a67973;
