// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'main';

.session-login-form {
	position: relative;
	top: 100px;
}

.session-text-field {
	width: 650px;
	color: $secondary-color;
}

.session-signup-btn {
	position: relative;
	top: 50px;
	color: #fff;
	border: 3px solid #fff;
	border-radius: 25px;
	padding: 10px;
	text-decoration: none;
	text-decoration: none;
}

.session-login-btn {
	position: relative;
	top: 50px;
	height: 65px;
	width: 125px;
	background: none;
	font-size: 30px;
	color: #fff;
	border: 3px solid #fff;
	border-radius: 25px;
	padding: 10px;
	text-decoration: none;
	text-decoration: none;	
}