// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'main';

.form-label {
	font-size: 18px;
}

.form-input {
	width: 300px;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.registration {
	height: 350px;
	width: 100%;
	background: #333;
	padding: 50px;
}

.registration-errors {
	position: relative;
	top: 100px;
	text-align: center;
	font-size: 18px;
	color: darkred;
}

.registration-signup-form {
	position: relative;
	float: right;
	top: 60px;
	height: 300px;
	width: 450px;
	text-align: right;
	color: $primary-accent;
}

.registration-text-field {
	width: 650px;
	color: $secondary-color;
}

.registration-login-btn {
	position: relative;
	top: 50px;
	color: #fff;
	border: 3px solid #fff;
	border-radius: 25px;
	padding: 10px;
	text-decoration: none;
	text-decoration: none;
}

.registration-signup-btn {
	position: relative;
	top: 50px;
	height: 65px;
	width: 150px;
	background: none;
	font-size: 30px;
	color: #fff;
	border: 3px solid #fff;
	border-radius: 25px;
	padding: 10px;
	text-decoration: none;
	text-decoration: none;	
}

.user-info {
	height: 160px;
	width: 100%;
	background: #fff;
	border-bottom: 1px solid $primary-accent;
}

.user-credentials {
	padding: 40px;
}

.user-credentials-text {
	margin: 0;
	font-size: 24px;
	line-height: 24px;
	color: $primary-accent;
}

.user-new-deck {
	position: absolute;
	top: 50px;
	right: 250px;
	padding: 10px;
	text-decoration: none;
	color: $secondary-color;
	background: #333;
	border: 3px ridge $secondary-color;
	border-radius: 25px;
}

.user-upload-deck {
	position: absolute;
	top: 50px;
	right: 50px;
	padding: 10px;
	text-decoration: none;
	color: $secondary-color;
	background: #333;
	border: 3px ridge $secondary-color;
	border-radius: 25px;
}

.user-logo-icon {
	position: relative;
	float: left;
	height: 144px;
	width: 151px;
	margin: 10px;
	background-image: url('logo-icon.png');
	-webkit-filter: drop-shadow(1px 1px 1px #333);
	filter: drop-shadow(1px 1px 1px #333);
	-webkit-animation: logo-animate 1s .5s infinite cubic-bezier(0.6, -0.280, 0.735, 0.045);
	animation: logo-animate 1s .5s infinite cubic-bezier(0.6, -0.280, 0.735, 0.045);
}

.user-options {
	position: fixed;
	bottom: 100px;
	right: 0;
	text-align: right;
}

li.user-options-item {
	right: 5px;
	list-style-type: none;
}

a.user-options-item {
	position: relative;
	right: 5px;
	text-decoration: none;
	color: #626262;
	opacity: 0;
}

.user-gear {
	position: absolute;
	bottom: -125px;
	right: 0;
	height: 160px;
	width: 160px;
	background-image: url('settings.png');
	cursor: pointer;
}

.user-gear:hover {
	-webkit-animation: gear-spin 2s 0s infinite cubic-bezier(0.6, -0.280, 0.735, 0.045);
	animation: gear-spin 2s 0s infinite cubic-bezier(0.6, -0.280, 0.735, 0.045);
}

.user-played-decks {
	min-height: 580px;
	height: 100%;
	width: 100%;
	background: #333;
}

.user-deck {
	border: 1px solid $primary-accent;
}

.modal-screen {
	position: absolute;
	top: 0;
	left: 0;
	height: 740px;
	width: 100%;
	background: rgba(0,0,0,0.7);
}

.user-deck-modal {
	position: absolute;
	top: 30%;
	left: 23%;
	height: 400px;
	width: 700px; 
	background: #fff;	
}

.deck-modal-text-field {
	width: 425px;
	border: 1px solid #666;
}

@-webkit-keyframes logo-animate {
	50% { transform: scale(1.05,1.05); }
	100% {transform: scale(1,1); }
}

@-webkit-keyframes gear-spin {
	50% { transform: rotateZ(0deg); }
	100% {transform: rotateZ(360deg); }
}